{% extends 'base/front_base.html' %}
{% load news_filter %}
{% block title %}
    {{ 搜索页面 }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'scss/search/search.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1249473_7i3ugom7rji.css">
    <script src="{% static 'js/search.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-group">
                    <form action="" method="get">
                        <input type="text" class="search-input" name="q" placeholder="请输入关键字搜索">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="recommend-group">
                    {% if q %}
                        <p class="recommend-title">搜索结果</p>
                        <ul class="list-inner-gropu">
                        {% for news in newses %}
                            <li>
                                <div class="thumbnail-group">
                                    <a href="{% url 'news:news_detail' news_id=news.pk %}">
                                        <img src="{{ news.thumbnail }}" alt="">
                                    </a>
                                </div>
                                <div class="news-group">
                                    <p class="title">
                                        <a href="{% url 'news:news_detail' news_id=news.pk %}">{{ news.title }}</a>
                                    </p>
                                    <p class="desc">
                                        {{ news.desc }}
                                    </p>
                                    <p class="more">
                                       <span class="category">{{ news.category.name }}</span>
                                        <span class="pub-time">{{ news.pub_time|time_since }}</span>
                                        <span class="author">{{ news.author.username }}</span>
                                    </p>
                                </div>
                            </li>
                        {% empty %}
                            <p>没有你需要的结果.</p>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p class="recommend-title">热门推荐</p>
                        <ul class="list-inner-gropu">
                            {% for news in newses %}
                                <li>
                                    <div class="thumbnail-group">
                                        <a href="{% url 'news:news_detail' news_id=news.pk %}">
                                            <img src="{{ news.thumbnail }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news-group">
                                        <p class="title">
                                            <a href="{% url 'news:news_detail' news_id=news.pk %}">{{ news.title }}</a>
                                        </p>
                                        <p class="desc">
                                            {{ news.desc }}
                                        </p>
                                        <p class="more">
                                           <span class="category">{{ news.category.name }}</span>
                                            <span class="pub-time">{{ news.pub_time|time_since }}</span>
                                            <span class="author">{{ news.author.username }}</span>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% include 'common/side_bar.html' %}
        </div>
    </div>
{% endblock %}