{% extends 'base/front_base.html' %}
{% load news_filter %}

{% block title %}
    {{ 新闻首页 }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'scss/news/news_detail.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1249473_7i3ugom7rji.css">
    <script src="{% static 'js/arttemplate.js' %}"></script>
    <script src="{% static 'js/news_detail.min.js' %}"></script>

<script type="text/html" id="comment-item">
{% verbatim %}
    <li>
        <div class="comment-info">
            <img class="avator" src="{% static 'images/avatar.jpeg' %}" alt="">
            <span class="author">{{ comment.author.username }}</span>
            <span class="pub-time">{{ comment.pub_time|timeSince }}</span>
        </div>
        <p class="comment-content">{{ comment.content }}</p>
    </li>
{% endverbatim %}
</script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">{{ news.title }}</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">{{ news.author.username }}</span>
                            <span class="pub-time">{{ news.pub_time | time_since }}</span>
                            <span class="category">{{ news.category.name }}</span>
                        </div>
                        <div class="share-group">
                            <span class="share">分享至： </span>
                            <a class="weixin share-items"></a>
                            <a href="#" class="weibo share-items"></a>
                        </div>
                    </div>
                    <article class="article">
                        {{ news.content | safe }}
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论(0)</h3>
                    <textarea class="comment-textarea logined-textarea" name="comment" cols="30" rows="10" placeholder="立即登录,参与评论～"></textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn" data-news-id="{{ news.pk }}">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        {% for comment in news.comment.all %}
                            <li>
                                <div class="comment-info">
                                    <img class="avator" src="{% static 'images/avatar.jpeg' %}" alt="">
                                    <span class="author">{{ comment.author.username }}</span>
                                    <span class="pub-time">{{ comment.pub_time | time_since }}</span>
                                </div>
                                <p class="comment-content">{{ comment.content }}</p>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
            {% include 'common/side_bar.html' %}
        </div>
    </div>
{% endblock%}