{% extends 'base/front_base.html' %}

{% block title %}
    付费资讯
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="advertise-group">
                    <img src="http://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
                </div>
                <ul class="document-list">
                    {% for payinfo in payinfos %}
                        <a href="{% url 'payinfo:payinfo_order' payinfo_id=payinfo.pk %}">
                            <li>
                                <div class="category-group"></div>
                                <div class="document-info">
                                    <p class="document-title">{{ payinfo.title }}</p>
                                    <p class="document-desc">{{ payinfo.profile }}</p>
                                    <p class="document-price">￥{{ payinfo.price }}</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
            </div>
            {% include 'common/side_bar.html' %}
        </div>
    </div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'scss/payinfo/payinfo.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1249473_7i3ugom7rji.css">
{% endblock %}
