.main {
  .wrapper {
    .table {
      width: 100%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background: #eaeaea;
      text-align: center;
      border-spacing: 20px;

      img {
        width: 120px;
        height: 70px;
        float: left;
      }

      .title {
        margin-left: 20px;
      }
    }

    form {
      .pay-way {
        label {
          float: right;
          span {
            border: 1px solid #ccc;
            position: relative;
            top: 20px
          }

          .zfb-btn {
            display: inline-block;
            width: 140px;
            height: 50px;
            cursor: pointer;
            background: url("http://study.163.com/res/images/pay/payList.png");
            background-position: -140px 0;
            background-size: 300% 200%;
            margin-right: 20px;

            .wx-btn {
              display: inline-block;
              width: 140px;
              height: 50px;
              position: relative;
              cursor: pointer;

              img {
                top: 20px;
                left: 16px;
                position: absolute;
              }
            }
          }
        }
      }
    }
    .submit-group {
      overflow: hidden;
      padding: 60px 0;

      .submit-btn {
        display: block;
        text-align: center;
        width: 136px;
        height: 50px;
        line-height: 50px;
        background: url("http://s.stu.126.net/res/images/pay/payBtns.png?c9b6b849b38cca45b160a96802575ac8") no-repeat 4449px 4449px;
        background-position: 0 -302px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        float: right;
      }
      &:hover {
        background-position: -140px -300px;
      }
    }
  }
}